<!-- <div style="float:right">TODO: USE AUTOVIEW FOR THE TITLE</div> -->

  <div id="block_content_toolbar" class="btn-group">
    <a id="create_text_item" class="btn toolbar-btn" href="#"
       title="Create new plain text item"
       data-trigger-event="CreateRecordAndLink"
       data-param-className="PlainText"
       data-param-target="${new Block(<%= @block.id %>)}"
       data-param-fieldName="items">
         Text
    </a>
    <a id="create_html_item" class="btn toolbar-btn" href="#" 
       title="Create new item rich text item"
       data-trigger-event="CreateRecordAndLink"
       data-param-className="HTMLText"
       data-param-target="${new Block(<%= @block.id %>)}"
       data-param-fieldName="items">
         Rich Text
    </a>
    <a id="create_html_item" class="btn toolbar-btn" href="#" 
       title="Create new item rich text item"
       data-trigger-event="CreateRecordAndLink"
       data-param-className="Image"
       data-param-target="${new Block(<%= @block.id %>)}"
       data-param-fieldName="items">
         Image
    </a>
  </div>


<h4><%= @block.title %></h4>

<div id="block_items">
  <%= render :collection => @block.items, :partial => "items/item", :as => "item" %>
</div>
