<% provide(:title, "Project '#{@project.title}'") %>

<h1><%= autosave_fld @project, :title, :id => "project_title" %></h1>

<%= link_to "Edit", edit_project_path(@project), class: "btn", id: "edit_project_btn" %>

<div class="row">
  <h3>Description</h3>
  <%= autosave_fld @project, :description, :tag => "pre", :escape_body => false, :multiline => true %>
</div>

<div class="row">
  <h3>Content</h3>
  
  <div class="project-blocks span3">
      
      <%= render :partial => 'blocks_toolbar' %>
      <div class="blocks" id="project-blocks">
        <%= render :collection => @project.blocks, :partial => "block" %>
      </div>
      
    </div>
    <div class="span9">
      center
    </div>
    
</div>
<!-- 
<div class="container-fluid">
  <div class="row-fluid">
    
  </div>
</div> -->