<% provide(:title, "Project '#{@project.title}'") %>

<%= render :partial => 'projects/project_title_desc', 
           :object => @project, 
           :as => "project" %>

<!-- <h1><%= autosave_fld @project, :title, :id => "project_title" %></h1> -->
<!-- <%= link_to "Edit", edit_project_path(@project), class: "btn", id: "edit_project_btn" %> -->

<!-- <div class="row"> -->
<!--   <h3>Description</h3> -->
<!--   <%= autosave_fld @project, :description, :tag => "pre", :escape_body => false, :multiline => true %> -->
<!-- </div> -->

<div class="row">
  <h3>Content</h3>
  
  <div class="project-blocks span2">
      
      <%= render :partial => 'blocks_toolbar' %>
      <div class="blocks" id="project-blocks">
        <%= render :collection => @project.blocks, :partial => "block" %>
      </div>
      
    </div>
    <div id="block_content" class="span10">
      <div id="no_block_selected">Please select a section on the left...</div>
    </div>
    
</div>
<!-- 
<div class="container-fluid">
  <div class="row-fluid">
    
  </div>
</div> -->
