<%# @param item [Attachment] %>

<div style="position:relative">

  <% @item_actions = capture do %>
  <button class="action_btn change_attachment"
          data-trigger-event="LinkToRecord"
          data-param-target="${new Attachment(<%=item.id%>)}"
          data-param-fieldName="file"
          data-param-saveTarget="true">
    <i class="icon-upload"></i>
  </button>
  <% end %>

  <% 
     name = item.file.filename
     short_name = truncate(item.file.filename, length: 15)
     size = number_to_human_size(item.file.size)
     type = item.file.content_type
     title = "#{name} (#{size}); #{type}"
  %>
  <div id="file-container-<%=item.id%>" class="file-container" title="<%= title %>">
    <a href="/fetchFile?id=<%=item.id%>" target="_blank">
      <%= image_tag icon_src(item.file), class: "file_icon" %> 
    </a>
    <%= autosave_fld item.file, :filename, 
         :tag => "div",
         :multiline => false, 
         :escape_body => true, 
         :body => short_name,
         :class => "file-meta cancel_draggable truncate-body",
         :"data-value" => name,
         :"data-length" => 15
    %>
  </div>
  

  <div id="loadingDiv-<%=item.id%>" class="loadingDiv">
  <div class="loadingInnerDiv">
    <div class="ball"></div>
    <div class="ball1"></div>
  </div>
  </div>

</div>
