<!-- 
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p> 
-->

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div id="header_container" class="container">
      <%#= link_to "BellLabs", root_path, id: "logo" %>
      <div id="header_company_top">
        <%= link_to "BellLabs", root_path, id: "logo" %>
      </div>
      <nav>
        <ul id="header_menu" class="nav pull-right">
          <li><%= link_to root_path, class: "menu_item" do %>
                <i class="icon-pencil icon-white"></i> Projects
              <% end %>
          </li>
          <li><%= link_to root_path, class: "menu_item" do %>
                <i class="icon-file icon-white"></i> Protocols
              <% end %>
          </li>
          <li><%= link_to root_path, class: "menu_item" do %>
                <i class="icon-book icon-white"></i> Library
              <% end %>
          </li>
          <li><%= link_to root_path, class: "menu_item" do %>
                <i class="icon-fire icon-white"></i> Idea Box
              <% end %>
          </li>
          <li><%= link_to '#', class: "menu_item" do %>
                 <i class="icon-question-sign icon-white"></i> Help
              <% end %>
          </li>
          <% if signed_in? %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="menu_item dropdown-toggle" data-toggle="dropdown">
                <%= render :partial => 'shared/user_logo', :locals => {:user => current_user} %> 
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to current_user do %>
                    <i class="icon-user"></i> Profile
                    <% end %>
                </li>
                <li><%= link_to edit_user_path(current_user) do %>
                    <i class="icon-edit"></i> Settings
                    <% end %>
                </li>
                <li class="divider"></li>
                <li><%= link_to signout_path, method: "delete" do %>
                    <i class="icon-remove-sign"></i> Sign out
                    <% end %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path, class: "menu_item" %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
