<% require 'red/view/js_helpers' %> 
<% self.class.send :include, Red::View::JsHelpers %>
   
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "redapp", :media => "all" %>
  <%= javascript_include_tag Red.conf.pusher.push_client_js %>
  <%= javascript_include_tag "redapp" %>
  <%= red_tags %>
  
  <%= javascript_include_tag "application" %>
  
  
  <%= csrf_meta_tags %>
    
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
    
  <%= render 'layouts/header' %>
  
  <div class="container" id ="main_app_container">
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
    <%= red_assets %>
    <%= render 'layouts/footer' %>
    
    <!-- <%= debug(params) if Rails.env.development? %> -->
  </div>  
  
  
</body>
</html>
